
.vs/Practica9/v16/.suo
.vs/Practica9/v16/Browse.VC.db
.vs/Practica9/v16/Browse.VC.db-shm
.vs/Practica9/v16/Browse.VC.db-wal
.vs/Practica9/v16/Browse.VC.opendb
.vs/Practica9/v16/ipch/AutoPCH/3e501c710a98478a/ILUMINACION2.ipch
.vs/Practica9/v16/ipch/AutoPCH/fc2b32490eb0766e/ILUMINACION2.ipch
